<div nz-flex [nzVertical]="false">
  <div class="self-introduction">
    <nz-card nzTitle="自我介紹" [nzHoverable]="true">
      <div class="avatar">
        <img src="/assets/image/flower.jpg" alt="Your Avatar">

      </div>
      <div class="content">
        <p>
          <strong>姓名：</strong> Ibanez Huang
        </p>
        <p>
          <strong>職業：</strong> Frontend Developer
        </p>
        <p>
          <strong>自我介紹：</strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed odio felis. Duis malesuada
          ultrices sem, et euismod eros. Nulla facilisi. Mauris facilisis risus elit, id sagittis purus
          fermentum sed.
        </p>
      </div>
    </nz-card>
  </div>
  <div class="self-introduction">
    <nz-card nzTitle="自我介紹" [nzHoverable]="true">
      <div class="avatar">
        <img src="/assets/image/flower.jpg" alt="Your Avatar">

      </div>
      <div class="content">
        <p>
          <strong>姓名：</strong> Ibanez Huang
        </p>
        <p>
          <strong>職業：</strong> Frontend Developer
        </p>
        <p>
          <strong>自我介紹：</strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed odio felis. Duis malesuada
          ultrices sem, et euismod eros. Nulla facilisi. Mauris facilisis risus elit, id sagittis purus
          fermentum sed.
        </p>
      </div>
    </nz-card>
  </div>

</div>

